body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    transform: scale3d( 0.75);
}
.navbar{
    height: 2%;
    width: 100;
}
.centro{
    background-image: url(../fondos/index.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    display: flex;
    height: 1050px;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.contenedor1{
    display: flex;
    height:150px;
    width: 300px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20%;
    background-image: url(../img/tiro.jpeg);
    background-position: center;
    }
.contenedor2{
    background-image: url(../img/arquitectura.webp);
    height:650px;
    width: 400px;
    z-index: 1;
    justify-content: end;
    position: absolute;
    left: 70%;
    top: 20%;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    }
.contenedor3{
    height:500px;
    width: 300px;
    z-index: 1;
    justify-content: end;
    position: absolute;
    left: 20%;
    bottom: 0;
    background-image: url(../img/axn.jpeg);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    }

.contenedor1 a, .contenedor2 a, .contenedor3 a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 38, 38, 0.8);
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: .5s ease;
    z-index: 10;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor1:hover a, .contenedor2:hover a, .contenedor3:hover a {
    opacity: 1;
}
footer{
    height: 2%;
    width: 100%;
    text-align: center;
    color: rgb(196, 214, 214);
    margin: 20px;
    background-color: white;
}
@media (max-width: 768px) {
    .contenedor1, .contenedor2, .contenedor3 {
        display: flex;
        position: static; 
        width: 100%;
        height: 80vw; 
        margin-bottom: 50px; 
    }

    .centro {
        display: flex;
        flex-direction: column; 
        width: 100%;
        height: auto; 
    }
    .contenedor1 {
        height: 250px; 
        bottom: auto; 
    }
    .contenedor3 {
        height: 250px; 
        bottom: auto; /
    }

    .contenedor2 {
        width: 200px;
        height: 300px; 
    }

    footer {
        font-size: 12px;
    }
}